*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(50deg, #e688f0, #ee9999);
}
.container{
    margin: 8%;
}
.container h1{
    color: #fff;
}
.container img{
    background: transparent;
}
.container button{
    border: none;
    outline: none;
    padding: 8px 20px;
    background: #a05eef;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;

}
.Note-container{
    margin: 40px;
}
.Note-container p{
    background: #fff;
    border: none;
    outline: 0;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    padding: 20px;
    margin: 20px 0;

}

.Note-container img{
    border: none;
    background: transparent;
    position: absolute;
    width: 5%;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
}
